
<nav id="navbar-example" class="navbar pt-3 pb-1 fixed-top navbar-expand-lg  navbar-dark bg" >
              
    <div class="container">
    <div class="col-md-9" >
    <h1> <a class="navbar-brand  text-white text-uppercase fw-bolder fs-2"routerLinkActive="bg-info text-whith"  routerLink="Home">START FRAMEWORK</a></h1>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
        <a class="nav-link text-white text-uppercase fw-bold "routerLinkActive="bg-info text-whith"  routerLink="About">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white text-uppercase fw-bold" routerLinkActive="bg-info text-whith" routerLink="Portfolio">PORTFOLIO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  text-white text-uppercase fw-bold"routerLinkActive="bg-info text-whith" routerLink="Contact">CONTACT</a>
    </li>
  
</ul>
</div>
</div>

</nav>
