<div class='pt-5 mt-5 vh-100'>
    <div class='container'>
 <div class="text-center   " >
 
<h1 class="">CONATCT SECTION</h1>
<div class=" d-flex align-items-center justify-content-center mb-3" >

<div class="line me-3"></div>

<i class="fa-solid fa-star"></i>
<div class="line ms-3"></div>

</div>
<div class="w-50 conatct-form m-auto pb-4">
<input type="text" id="UseName"  placeholder="userName"  class="form-control  border-0 border-bottom mb-2 pb-3 position-relative" />
<label class="position-relative "for="UseName" >UseName</label>
<input type="email" id="userEmail" placeholder="userEmail"  class="form-control border-0 border-bottom mb-2 pb-3  position-relative" />
<label class="position-relative "for="userEmail" >userEmail</label>
<input type="text"  placeholder="userAge" id="userAge"  class="form-control border-0 border-bottom mb-2 pb-3  position-relative" />
<label class="position-relative "for="userAge" >userAge</label>
<input type="Password"  placeholder="userPassword" id="userPassword" class="form-control border-0 border-bottom mb-2 pb-3  position-relative" />
<label class="position-relative "for="userPassword" >userPassword</label>
<button class="btn btn-info"type="submit">SEND MESSAGE</button> 
</div>
</div>
</div>
</div>
