 <div class=' pt-5 mt-5 '>
    <div class='container'>
 <div class="text-center  " >
  
<h1 class="">PORTFOLIO COMPONENT</h1>
<div class=" d-flex align-items-center justify-content-center mb-3" >

<div class="line me-3"></div>

<i class="fa-solid fa-star"></i>
<div class="line ms-3"></div>
</div>
<div class="row gy-4">
<div *ngFor="let img  of imgs" class="col-md-4">
   <div class="inner rounded-3 overflow-hidden position-relative"> 
      
      <img src={{img}} class="d-block w-75 m-auto  rounded-3 ">
      
      <div class="img-layer position-absolute start-0 w-100 top-0 h-100 d-flex align-items-center justify-content-center " >
        
          <i class="text-white  fa-solid fa-plus fa-8x "></i>
      </div></div>
 
  
</div>
</div>

</div>
</div>
</div>
